[Unit]
Description=Sets gsettings prefer-<light|dark>
After=redshift.service
Requires=redshift.service

[Service]
StateDirectory=%p
Type=oneshot
WorkingDirectory=/usr/lib/gnome-mode-shift
ExecStart=/usr/lib/gnome-mode-shift/bin/get-sunrise-sunset.sh
Restart=on-failure

[Install]
WantedBy=default.target

