[Unit]
Description=timer gnome-mode-shift

[Timer]
OnStartupSec=0
OnCalendar=*-*-* *:*:00
Unit=gnome-mode-shift.service

[Install]
WantedBy=timers.target
