[Unit]
Description=timer gnome-night-shift
Wants=network.target
OnFailure=stop-night-shift-timer.service
After=network.target

[Timer]
OnStartupSec=0
OnCalendar=*-*-* *:*:00
Persistent=true
Unit=gnome-night-shift.service

[Install]
WantedBy=timers.target
